In [57]:
import pandas as pd

In [58]:
# Cargar el archivo CSV
df = pd.read_csv('datos3.csv')
print(df.head())

  ID de la propiedad Precio  Dormitorios  Banos  Parqueos  \
0           DAC14223  2,100          2.0    2.0       4.0
1           DAC13821  2,200          3.0    2.0       2.0
2            CAC5150  3,100          4.0    2.0       2.0
3            CAC5144  3,500          3.0    5.0       2.0
4           DAC13774  3,000          4.0    2.0       2.0

  Tamano de la propiedad     Area Categoria  \
0                    196  Zona 14  Alquiler
1                    NaN  Zona 14  Alquiler
2                    350  Zona 14  Alquiler
3                    459  Zona 14  Alquiler
4                    NaN  Zona 14  Alquiler

                                                 URL
0  https://mapainmueble.com/properties/preciosa-c...
1  https://mapainmueble.com/properties/casa-en-zo...
2  https://mapainmueble.com/properties/rento-casa...
3  https://mapainmueble.com/properties/casa-en-al...
4  https://mapainmueble.com/properties/casa-en-re...

In [59]:
# Seleccionar solo las columnas necesarias
columnas_necesarias = ['Precio', 'Dormitorios', 'Banos', 'Parqueos', 'Tamano de la propiedad']
df_limpio = df[columnas_necesarias]
print(df_limpio.head())

  Precio  Dormitorios  Banos  Parqueos Tamano de la propiedad
0  2,100          2.0    2.0       4.0                    196
1  2,200          3.0    2.0       2.0                    NaN
2  3,100          4.0    2.0       2.0                    350
3  3,500          3.0    5.0       2.0                    459
4  3,000          4.0    2.0       2.0                    NaN

In [60]:
# Eliminar filas con valores faltantes en las columnas seleccionadas
df_limpio = df_limpio.dropna()
print(df_limpio.head())

  Precio  Dormitorios  Banos  Parqueos Tamano de la propiedad
0  2,100          2.0    2.0       4.0                    196
2  3,100          4.0    2.0       2.0                    350
3  3,500          3.0    5.0       2.0                    459
5  3,000          4.0    2.0       2.0                    350
6  1,100          3.0    2.0       2.0                     10

In [61]:
# Convertir la columna 'Precio' a tipo numérico, eliminando las comas
df_limpio['Precio'] = df_limpio['Precio'].str.replace(',', '').astype(float)
print(df_limpio.head(10))

    Precio  Dormitorios  Banos  Parqueos Tamano de la propiedad
0   2100.0          2.0    2.0       4.0                    196
2   3100.0          4.0    2.0       2.0                    350
3   3500.0          3.0    5.0       2.0                    459
5   3000.0          4.0    2.0       2.0                    350
6   1100.0          3.0    2.0       2.0                     10
7   1600.0          3.0    2.0       4.0                     10
9   2250.0          3.0    3.0       2.0                    325
10  6900.0          7.0    9.0       6.0                     10
11  4999.0          5.0    4.0      15.0                  1,541
12  2500.0         15.0    6.0      15.0                    408

In [62]:
df_limpio = df_limpio[df_limpio['Parqueos'] <= 10]
print(df_limpio.head())

   Precio  Dormitorios  Banos  Parqueos Tamano de la propiedad
0  2100.0          2.0    2.0       4.0                    196
2  3100.0          4.0    2.0       2.0                    350
3  3500.0          3.0    5.0       2.0                    459
5  3000.0          4.0    2.0       2.0                    350
6  1100.0          3.0    2.0       2.0                     10

In [63]:
# Convertir las columnas 'Dormitorios', 'Banos', 'Parqueos' y 'Tamano de la propiedad' a tipo numérico
df_limpio['Dormitorios'] = pd.to_numeric(df_limpio['Dormitorios'], errors='coerce')
df_limpio['Banos'] = pd.to_numeric(df_limpio['Banos'], errors='coerce')
df_limpio['Parqueos'] = pd.to_numeric(df_limpio['Parqueos'], errors='coerce')
df_limpio['Tamano de la propiedad'] = pd.to_numeric(df_limpio['Tamano de la propiedad'], errors='coerce')
print(df_limpio.head())

   Precio  Dormitorios  Banos  Parqueos  Tamano de la propiedad
0  2100.0          2.0    2.0       4.0                   196.0
2  3100.0          4.0    2.0       2.0                   350.0
3  3500.0          3.0    5.0       2.0                   459.0
5  3000.0          4.0    2.0       2.0                   350.0
6  1100.0          3.0    2.0       2.0                    10.0

In [64]:
df_limpio = df_limpio[(df_limpio['Tamano de la propiedad'] >= 100) & (df_limpio['Tamano de la propiedad'] <= 2000)]
print(df_limpio.head())

   Precio  Dormitorios  Banos  Parqueos  Tamano de la propiedad
0  2100.0          2.0    2.0       4.0                   196.0
2  3100.0          4.0    2.0       2.0                   350.0
3  3500.0          3.0    5.0       2.0                   459.0
5  3000.0          4.0    2.0       2.0                   350.0
9  2250.0          3.0    3.0       2.0                   325.0

In [65]:
df_limpio = df_limpio[(df_limpio['Precio'] >= 100) & (df_limpio['Precio'] <= 10001)]
print(df_limpio.head())

   Precio  Dormitorios  Banos  Parqueos  Tamano de la propiedad
0  2100.0          2.0    2.0       4.0                   196.0
2  3100.0          4.0    2.0       2.0                   350.0
3  3500.0          3.0    5.0       2.0                   459.0
5  3000.0          4.0    2.0       2.0                   350.0
9  2250.0          3.0    3.0       2.0                   325.0

In [66]:
# Eliminar filas con valores faltantes después de la conversión
df_limpio = df_limpio.dropna()
print(df_limpio.head())

   Precio  Dormitorios  Banos  Parqueos  Tamano de la propiedad
0  2100.0          2.0    2.0       4.0                   196.0
2  3100.0          4.0    2.0       2.0                   350.0
3  3500.0          3.0    5.0       2.0                   459.0
5  3000.0          4.0    2.0       2.0                   350.0
9  2250.0          3.0    3.0       2.0                   325.0

In [67]:
# Guardar el DataFrame limpio en un nuevo archivo CSV
df_limpio.to_csv('datos_limpios_3.csv', index=False)